openapi: 3.0.3
info:
  title: DuckDesk API
  version: 1.0.0
  description: API for the DuckDesk academic ticketing system

servers:
  - url: https://www.duckdesk.org/
         https://api.duckdesk.org/api/

paths:

  ##############################################################
  # AUTH ROUTES
  ##############################################################

  /api/signup:

    post:
      summary: Begin signup and send verification email
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, name, password]
              properties:
                email:
                  type: string
                name:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  enum: [student, advisor, admin]
                  default: student

      responses:
        '200':
          description: Verification email sent

  /api/verify/{email}:

    post:
      summary: Verify user signup with code
      tags: [Authentication]
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string

      responses:
        '201':
          description: User successfully created

  /api/login:

    post:
      summary: Log a user in and create session
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: Login successful
        '400':
          description: Incorrect email or password

 ##############################################################

  # USER ROUTES

  ##############################################################

  /api/me:

    get:
      summary: Get currently authenticated user
      tags: [Users]

      responses:
        "200":
          description: Current user returned
        "401":
          description: Not authenticated

  /api/users:

    get:
      summary: Get users list with optional filters
      tags: [Users]
      parameters:
        - in: query
          name: role
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string

      responses:
        "200":
          description: Users returned

  /api/users/{user_id}:

    get:
      summary: Get details for a specific user
      tags: [Users]
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: User details returned
        "403":
          description: Not authorized
        "404":
          description: User not found

  ##############################################################

  # WORKSPACE ROUTES

  ##############################################################

  /api/workspaces:

    get:
      summary: Get workspaces visible to current user
      tags: [Workspaces]

      responses:
        "200":
          description: Workspaces returned
    post:
      summary: Create a new workspace
      tags: [Workspaces]

      responses:
        "201":
          description: Workspace created
        "403":
          description: Not authorized

  /api/workspaces/{workspace_id}:

    get:
      summary: Get details for a workspace
      tags: [Workspaces]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Workspace details returned
        "403":
          description: Not authorized
        "404":
          description: Workspace not found

    patch:
      summary: Update workspace details or settings
      tags: [Workspaces]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Workspace updated
        "403":
          description: Not authorized
        "404":
          description: Workspace not found

  ##############################################################

  # MEMBERSHIP ROUTES

  ##############################################################

  /api/workspaces/{workspace_id}/memberships:

    get:
      summary: Get memberships for a workspace
      tags: [Memberships]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Workspace memberships returned
        "403":
          description: Not authorized
        "404":
          description: Workspace not found

    post:
      summary: Add a user to a workspace
      tags: [Memberships]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer

      responses:
        "201":
          description: Membership created
        "403":
          description: Not authorized
        "404":
          description: Workspace or user not found

  /api/workspaces/{workspace_id}/memberships/{membership_id}:

    patch:
      summary: Update workspace membership role or capability overrides
      tags: [Memberships]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer
        - in: path
          name: membership_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Membership updated
        "403":
          description: Not authorized
        "404":
          description: Membership not found

    delete:
      summary: Remove a user from a workspace
      tags: [Memberships]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer
        - in: path
          name: membership_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Membership removed
        "403":
          description: Not authorized
        "404":
          description: Membership not found

  ##############################################################

  # THREAD ROUTES

  ##############################################################

  /api/workspaces/{workspace_id}/threads:

    get:
      summary: Get threads in a workspace
      tags: [Threads]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            enum: [open, resolved]
        - in: query
          name: priority
          schema:
            type: string
            enum: [low, normal, high]
        - in: query
          name: assigned_user_id
          schema:
            type: integer
        - in: query
          name: text
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: per_page
          schema:
            type: integer

      responses:
        "200":
          description: Threads returned
        "403":
          description: Not authorized
        "404":
          description: Workspace not found

    post:
      summary: Create a new thread in a workspace
      tags: [Threads]
      parameters:
        - in: path
          name: workspace_id
          required: true
          schema:
            type: integer

      responses:
        "201":
          description: Thread created
        "403":
          description: Not authorized
        "404":

          description: Workspace not found

  /api/threads/{thread_id}:

    get:
      summary: Get full thread details
      tags: [Threads]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Thread details returned
        "403":
          description: Not authorized
        "404":

          description: Thread not found

    patch:
      summary: Update thread fields such as status, priority, assignment, or visibility
      tags: [Threads]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Thread updated
        "403":
          description: Not authorized
        "404":
          description: Thread not found

  ##############################################################

  # MESSAGE ROUTES

  ##############################################################

  /api/threads/{thread_id}/messages:

    post:
      summary: Add a message to a thread
      tags: [Messages]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer

      responses:
        "201":
          description: Message created
        "403":
          description: Not authorized
        "404":
          description: Thread not found

  ##############################################################

  # PARTICIPANT ROUTES

  ##############################################################

  /api/threads/{thread_id}/participants:

    get:
      summary: Get participants for a private thread
      tags: [Participants]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Thread participants returned
        "403":
          description: Not authorized
        "404":
          description: Thread not found

    post:
      summary: Add a participant to a private thread
      tags: [Participants]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer

      responses:
        "201":
          description: Participant added
        "403":
          description: Not authorized
        "404":
          description: Thread or user not found

  /api/threads/{thread_id}/participants/{user_id}:

    delete:
      summary: Remove a participant from a private thread
      tags: [Participants]
      parameters:
        - in: path
          name: thread_id
          required: true
          schema:
            type: integer
        - in: path
          name: user_id
          required: true
          schema:
            type: integer

      responses:
        "200":
          description: Participant removed
        "403":
          description: Not authorized
        "404":
          description: Thread or participant not found

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        global_role:
          type: string
          enum: [student, faculty, admin]
        email:
          type: string
          format: email
        university_id:
          type: string
          nullable: true
        major:
          type: string
          nullable: true
        minor:
          type: string
          nullable: true
        department:
          type: string
          nullable: true
        academic_year:
          type: string
          nullable: true

    Workspace:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        type:
          type: string
          enum: [advising, course_section]
        state:
          type: string
          enum: [active, inactive, archived]
        owner:
          $ref: "#/components/schemas/UserSummary"
        current_user_membership:
          $ref: "#/components/schemas/WorkspaceMembership"
        memberships:
          type: array
          items:
            $ref: "#/components/schemas/WorkspaceMembership"
        settings:
          $ref: "#/components/schemas/WorkspaceSettings"

    WorkspaceListItem:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        type:
          type: string
          enum: [advising, course_section]
        state:
          type: string
          enum: [active, inactive, archived]
        current_user_role:
          type: string
          nullable: true

    WorkspaceSettings:
      type: object
      properties:
        allow_public_threads:
          type: boolean
        allow_student_collaborators:
          type: boolean
        allow_anonymous_public_threads:
          type: string
          enum: [off_by_default, on_by_default, locked_off, locked_on]
        default_thread_priority:
          type: string
          enum: [low, normal, high]

    WorkspaceMembership:
      type: object
      properties:
        id:
          type: integer
        workspace_id:
          type: integer
        user:
          $ref: "#/components/schemas/UserSummary"
        role:
          type: string
          enum: [student, instructor, ge, ta]
        capability_overrides:
          type: array
          items:
            $ref: "#/components/schemas/CapabilityOverride"

    CapabilityOverride:
      type: object
      properties:
        capability:
          type: string
        effect:
          type: string
          enum: [grant, deny]

    UserSummary:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        email:
          type: string
          format: email
          nullable: true
        global_role:
          type: string
          enum: [student, faculty, admin]

    ThreadListItem:
      type: object
      properties:
        id:
          type: integer
        workspace_id:
          type: integer
        type:
          type: string
          enum: [private, public]
        title:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        author:
          $ref: "#/components/schemas/UserSummary"
        participants:
          type: array
          items:
            $ref: "#/components/schemas/UserSummary"
        assigned_user:
          allOf:
            - $ref: "#/components/schemas/UserSummary"
          nullable: true
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [open, resolved]
        is_hidden:
          type: boolean
        is_locked:
          type: boolean

    Thread:
      allOf:
        - $ref: "#/components/schemas/ThreadListItem"
        - type: object
          properties:
            messages:
              type: array
              items:
                $ref: "#/components/schemas/Message"

    Message:
      type: object
      properties:
        id:
          type: integer
        thread_id:
          type: integer
        body:
          type: string
        author:
          $ref: "#/components/schemas/UserSummary"
        message_type:
          type: string
          enum: [standard, staff_note]
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/Attachment"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Attachment:
      type: object
      properties:
        id:
          type: integer
        filename:
          type: string
        mime_type:
          type: string
        size_bytes:
          type: integer
        download_url:
          type: string
          nullable: true

    ThreadParticipant:
      type: object
      properties:
        thread_id:
          type: integer
        user:
          $ref: "#/components/schemas/UserSummary"
        added_by:
          $ref: "#/components/schemas/UserSummary"
        created_at:
          type: string
          format: date-time

    PaginatedThreads:
      type: object
      properties:
        threads:
          type: array
          items:
            $ref: "#/components/schemas/ThreadListItem"
        page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer
        total_items:
          type: integer
        has_next:
          type: boolean
        has_prev:
          type: boolean
        next_page:
          type: integer
          nullable: true
        prev_page:
          type: integer
          nullable: true