openapi: 3.0.3
info:
  title: DuckDesk API
  version: 1.0.0
  description: API for the DuckDesk academic ticketing system

servers:
  - url: https://www.duckdesk.org/
         https://api.duckdesk.org/api/

paths:

  ##############################################################
  # AUTH ROUTES
  ##############################################################

  /api/signup:
    post:
      summary: Begin signup and send verification email
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, name, password]
              properties:
                email:
                  type: string
                name:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  enum: [student, advisor, admin]
                  default: student
      responses:
        '200':
          description: Verification email sent

  /api/verify/{email}:
    post:
      summary: Verify user signup with code
      tags: [Authentication]
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
      responses:
        '201':
          description: User successfully created

  /api/login:
    post:
      summary: Log a user in and create session
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Login successful
        '400':
          description: Incorrect email or password

  ##############################################################
  # USER ROUTES
  ##############################################################

  /api/user_details:
    get:
      summary: Get details for a specific user
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id]
              properties:
                user_id:
                  type: integer
      responses:
        '200':
          description: User details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Not authorized

  /api/get_users:
    get:
      summary: Admin/Advisor — get users list with filters
      tags: [Users]
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: per_page
          schema:
            type: integer
        - in: query
          name: role
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: major_id
          schema:
            type: integer
        - in: query
          name: minor_id
          schema:
            type: integer
        - in: query
          name: department_id
          schema:
            type: integer
      responses:
        '200':
          description: List of users returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'

  ##############################################################
  # ACTIVE TICKETS
  ##############################################################

  /api/submit_ticket:
    post:
      summary: Submit a new ticket
      tags: [Tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [department, subject, message]
              properties:
                department:
                  type: integer
                subject:
                  type: string
                message:
                  type: string
                assignee:
                  type: integer
      responses:
        '201':
          description: Ticket created

  /api/update_ticket:
    post:
      summary: Update a ticket
      tags: [Tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id]
              properties:
                ticket_id:
                  type: integer
                department:
                  type: integer
                subject:
                  type: string
                message:
                  type: string
                priority:
                  type: integer
                status:
                  type: string
                assignee:
                  type: integer
      responses:
        '200':
          description: Ticket updated

  /api/get_tickets:
    get:
      summary: Get tickets (student gets own, advisor/admin gets all)
      tags: [Tickets]
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: per_page
          schema: { type: integer }
        - in: query
          name: status
          schema: { type: integer }
        - in: query
          name: department
          schema: { type: integer }
        - in: query
          name: priority
          schema: { type: integer }
        - in: query
          name: text
          schema: { type: string }
      responses:
        '200':
          description: Tickets returned

  /api/ticket_details:
    get:
      summary: Get full details for a ticket
      tags: [Tickets]
      parameters:
        - in: query
          name: ticket_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ticket details
        '401':
          description: Permission denied

  /api/create_response:
    post:
      summary: Add a response to a ticket
      tags: [Tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id, message]
              properties:
                ticket_id:
                  type: integer
                message:
                  type: string
      responses:
        '201':
          description: Response added

  ##############################################################
  # ARCHIVED TICKETS
  ##############################################################

  /api/archive_ticket:
    post:
      summary: Move an active ticket and its responses to archive
      tags: [Archived Tickets]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ticket_id]
              properties:
                ticket_id:
                  type: integer
      responses:
        '200':
          description: Ticket archived

  /api/get_archived_tickets:
    get:
      summary: Get archived tickets (same filters as get_tickets)
      tags: [Archived Tickets]
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: per_page
          schema: { type: integer }
        - in: query
          name: status
          schema: { type: integer }
        - in: query
          name: department
          schema: { type: integer }
        - in: query
          name: priority
          schema: { type: integer }
        - in: query
          name: text
          schema: { type: string }
      responses:
        '200':
          description: Archived tickets returned

  /api/archived_ticket_details:
    get:
      summary: Get full details for an archived ticket
      tags: [Archived Tickets]
      parameters:
        - in: query
          name: ticket_id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Archived ticket details

components:

  schemas:

    User:
      type: object
      properties:
        user_id:
          type: integer
        email:
          type: string
        display_name:
          type: string
        role:
          type: string
          enum: [student, advisor, admin]
        major_id:
          type: integer
          nullable: true
        minor_id:
          type: integer
          nullable: true
        department_id:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time

    Ticket:
      type: object
      properties:
        ticket_id:
          type: integer
        author:
          type: integer
        assignee:
          type: integer
          nullable: true
        subject:
          type: string
        message:
          type: string
        department:
          type: integer
        department_name:
          type: string
        priority:
          type: integer
        status:
          type: string
        created_at:
          type: string
          format: date-time
        last_updated:
          type: string
          format: date-time